body{
    width: 100%;
    height: 100vh;
    background-color: #F2ECEB;
}

.containerCadastrarAnotacao{
    width: 90%;
    /* height: 100px; */
    /* margin-top: 5%; */
    
}
.formCadastroAnotacao{
    width: 100%;
    height: 400px;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;

    background-color: #038C73;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);

}

.conainerTextCadastro{
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.cadastroAnotacao{
    width: 80%;
    height: 150px;

    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.inptCadastroAnotacao{
    /* width: 80%; */
    height: 30px;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    border: none;
}
.inptCadastroAnotacao:focus{
    border: 2px solid black;
}
.inptCadastroAnotacao:hover{
    border: 2px solid black;
}
.inptDescricaoAnotacao{
    height: 100px;
}
.containerBtnCadastroAnotacao{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
