header{
    width: 100%;
    height: 60px;

    padding: 20px 8%;
    top: 0;
    position: absolute;
    z-index: 3;

    display: flex;
    justify-content: space-between;
    align-items: center;


    border-bottom: 5px solid #038C73;
    background-color: #fdf4ec;
}
.navBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav-list a{
    font-size: 20px;
    font-weight: 300;
    color: #000;

    display: flex;
    list-style: none;
    text-decoration: none;

    gap: 48px;
}