body{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    background-color: #F2ECEB;
}

.containerCadastroProduto{
    width: 50%;
    height: 100%;
    /* margin-top: 5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.formCadastroProduto{
    width: 70%;
    height: 200px;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;

    background-color: #038C73;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);

}

.conainerTextCadastro{
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.cadastroProduto{
    width: 80%;
    height: 150px;

    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.inptCadastroProduto{
    /* width: 80%; */
    height: 30px;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    border: none;
}
.inptCadastroProduto:focus{
    border: 2px solid black;
}
.inptCadastroProduto:hover{
    border: 2px solid black;
}

.containerBtnCadastroProduto{
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
