.containerEditarProduto{

}

.formEditarProduto{
    width: 50%;
    height: 150px;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;

    background-color: #A65A3F;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);

}
.containerEditarProduto{
    width: 50%;
    height: 100px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid blue; */
    
}
.inputEditarProduto{
    /* width: 80%; */
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: rgb(231, 231, 231);
}
.inputEditarProduto:focus{
    border: 2px solid black;
}
.inputEditarProduto:hover{
    border: 3px solid black;
}
.btnEditar{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(38, 23, 245);
    color: white;
    font-weight: 300;
}

.voltarLista{
    color: black;
}